html,
body,
header{
    background-color: rgb(17, 17, 17);
    height: 100%;
}

#intro {
  background-color: rgb(17, 17, 17);
  height: 100%;
}

#intro {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#sec {
  background-color: rgb(17, 17, 17);
  height: 55%; 
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.c-image {
  object-fit: cover;
  object-position: center;

  width: 1530px;
  height: 583px;
}

.cardCerto {
  object-fit: cover;
  object-position: center;

  width: 300px;
  height: 300px;
  filter:brightness(50%);
}

.cardTittle{
  position: relative;
  text-align: center;
  top: 200px;
}


/* treco da navbar */
.navtop{
  transition:750ms ease;
  background-color: transparent;
}
.navtop.scrolled{
  background-color: black;
}

.cima{
  position: relative;
  bottom: 40%;
}